<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="window-controll-pannel">
        <div class="btns">
            <span class="minimize btn material-icons">
                minimize
            </span>
            <span class="maximize btn material-icons">
                fullscreen
            </span>
            <span class="close btn material-icons">
                close
            </span>
        </div>
    </div>

    <div id="content">
        <form id="search">
            <div class="wrapper">
                <input type="text" placeholder="검색">
                <button>긁어버렷!</button>
            </div>
        </form>

        <div id="result">
            <div class="place-holder">가렵습니다 긁어주세요..!</div>
        </div>

        <div id="operation">
            <button class="to-excel">
                excel 파일로 저장
            </button>
            <button class="expend-function">
                추가 기능
            </button>
        </div>
    </div>
</body>

<script src="./bundle.js"></script>

</html>