<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="window-controll-pannel">
        <div class="btns">
            <span class="minimize btn material-icons">
                minimize
            </span>
            <span class="maximize btn material-icons">
                fullscreen
            </span>
            <span class="close btn material-icons">
                close
            </span>
        </div>
    </div>

    <div class="modal-wrapper">
        <div class="notice-modal">
            <div class="header">
                알림
            </div>
            <div class="body">
            </div>
            <div class="footer">
                <button class="close">확인</button>
            </div>
        </div>
    </div>

    <div id="content">
        <form id="search">
            <div class="wrapper">
                <input type="text" placeholder="검색">
                <button>긁어버렷!</button>
            </div>

            <div class="search-delay">
                <div class="label">
                    딜레이
                </div>
                <select name="search-delay-value" id="search-delay-value">
                    <option value="0">0초</option>
                    <option value="100">0.1초</option>
                    <option value="300">0.3초</option>
                    <option value="500">0.5초</option>
                    <option value="1000" selected>1초</option>
                    <option value="2000">2초</option>
                </select>
            </div>
        </form>

        <div id="result-container">
            <div class="place-holder">No Data..</div>
            <div class="crawling-loader-wrapper">
                <div class="loader">Loading...</div>
            </div>
            <div class="result">
                <!-- <div class="product">
                    <span class="name">나이키 반팔티</span>
                    <span class="price">10,400원</span>
                </div> -->
            </div>
        </div>

        <div id="operation">
            <button class="to-excel">
                excel 파일로 출력
            </button>
            <button class="expend-function">
                추가 기능
            </button>
        </div>
    </div>
</body>

<script src="./bundle.js"></script>

</html>